<div class="interests-container container-block">
<h2 class="container-block-title"> Awards and Stipends </h2>
<ul class="list-unstyled interests-list">
  
<li><strong>New Voices in Global Health</strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (World Health Summit; 2015)</span></li> 
<li><strong>Stipend for Top Students</strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (University of Zagreb; 2009 and 2013)</span></li>
<li><strong>Rector's Award 2009</strong> <span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (University of Zagreb) </span></li>
<li><strong>Stipend for Top Students</strong> <span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (The City of Zagreb; 2006 - 2013) </span></li>
<li><strong>Croatian National Champion in Biology</strong> <span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (Croatian Biological Society; 2004 - 2006) </span></li>

 <br> 
<li><strong>Top Croatian Athlete</strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (The Croatian Olympic Committee; 2012 and 2014 - 2017)</span></li>
<li><strong>Sport Stipend</strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (Zagreb Sports Association Stipend; 2014 - 2017)</span></li>
<li><strong>Adidas sponsorship</strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (2017)</span></li>
<li><strong>Croatain Climbing/Bouldering Champion</strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> (Croatian Climbing Society; 2007-2016)</span></li>


</div><!--//interests-->
