<div class="awards-container container-block">

    <h2 class="container-block-title">
     Awards and Honors
    </h2>

    {% for award in awards %}
    <div class="item">
      <h4 class="degree">{{ award.degree }}</h4>
      <h5 class="meta">{{ award.institution }}</h5>
      <div class="time">{{ award.time }}</div>
       {% if award.details %}
      <div class="details">
        {{ award.details | markdownify }}
      </div><!--//details-->
      {% endif %} 
    </div><!--//item-->
    {% endfor %}

  </div><!--//awards-container-->



