<div class="interests-container container-block">
<h2 class="container-block-title"> Awards and Honors </h2>
<ul class="list-unstyled interests-list">
<li><strong>Top Croatian Athlete</strong><span class="lang-desc"> (The Croatian Olympic Committee)</span></li>
<li><strong>Stipend for talented students</strong> <span  class="lang-desc"> (University of Zagreb)</span></li>
<li><strong>Rector's Award 2009</strong> <span class="lang-desc"> (University of Zagreb) </span></li>
</div><!--//interests-->
