<div class="interests-container container-block">
<h2 class="container-block-title"> Public outreach </h2>
<ul class="list-unstyled interests-list">

<li><strong> STORYTELLING </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> Berlin’s Science Week 2018 and 2019 </span></li> 
<li><strong> WRITING </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> Pop science articles at biologija.com.hr </span></li> 
<li><strong> EDUCATION</strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> Articles for primary schools students at bioteka.hr </span></li> 
<li><strong> TEACHING </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> Project leader at summer schools of science 2017 and 2019  </span></li> 
<li><strong> CITIZEN SCIENCE </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> myDNA blog </span></li> 
<li><strong> INTERVIEWs </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> KCRW Berlin Radio 2018 </span></li> 


</div><!--//interests-->
