<div class="interests-container container-block">
<h2 class="container-block-title"> Public Outreach </h2>
<ul class="list-unstyled interests-list"
    
<li><strong> STORYTELLING </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> Berlin’s Science Week 2018 <a href="{{https://www.thebear-storytelling.de/gravity-show/ }}" target="_blank">{{ link }}</a></span></li> 
<li><strong> INTERVIEWs </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> KCRW Berlin Radio 2018 <a href="{{https://kcrwberlin.com/2018/11/berlin-science-week-when-the-bioinformatician-met-the-psychiatrist }}" target="_blank">{{ link }}</a></span></li> 
<li><strong> WRITING </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> Popular science articles <a href="{{http://biologija.com.hr/modules/profile/userinfo.php?uid=278 }}" target="_blank">{{ link }}</a></span></li> 
<li><strong> EDUCATION </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> Science articles for pupils of primary schools <a href="{{http://www.bioteka.hr/modules/evolucijasvijeta/article.php?storyid=17}}" target="_blank">{{ link }}</a></span></li> 
<li><strong> TEACHING </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> S3+ project <a href="{{https://drustvo-evo.hr/s3/s3pp_2019.html }}" target="_blank">{{ link }}</a></span></li> 
<li><strong> CITIZEN SCIENCE </strong><span style="color:rgba(256, 256, 256, 0.6); font-weight: 500"> myDNA blog <a href="{{https://mydnas.github.io/myDNA/}}" target="_blank">{{ link }}</a></span></li> 

